.contact_area{
    background: $bark_bg_1;
    padding: 100px 0 70px 0;
    margin: 80px 50px 0 50px;
    @media #{$max_lg} {
        margin: 0;
        padding-top: 150px;
    }
    .message_box{
        margin-bottom: 30px;
    }
    .contact_info{
        margin-bottom: 30px;
        .address_list{
            margin-top: 12px;
            margin-bottom: 32px;
            p{
                font-size: 16px;
                line-height: 28px;
                color: #BEBEBE;
                &:not(:last-child){
                    margin-bottom: 10px;
                }
                span{
                    font-weight: 500;
                    color: $white;
                }
            }
        }
        .social_media_links2{
            margin-bottom: 50px;
        }
        #contact-map{
            height: 253px;
        }
    }
}


.common-input{
    border: 1px solid #2E2E2E !important;
    border-radius: 4px;
    height: 50px;
    color: $white;
    font-size: 16px;
    font-weight: 400;
    padding: 20px 15px;
    background: transparent !important ;
    box-shadow: none !important;
    &::placeholder{
        background: transparent ;
        font-size: 16px;
        font-weight: 400;
        color: $white !important;
    }
    &:focus{
        color: $white !important;
    }
}
textarea.common-textarea{
    border: 1px solid #2E2E2E !important;
    border-radius: 4px;
    height: 50px;
    color: $white;
    font-size: 16px;
    font-weight: 400;
    padding: 20px 15px;
    background: transparent !important ;
    box-shadow: none !important;
    height: 185px;
    &::placeholder{
        background: transparent ;
        font-size: 16px;
        font-weight: 400;
        color: $white !important;
    }
    &:focus{
        color: $white !important;
    }
}