.header_area.navbar {
  padding: 0px 35px;
  background-color: #000;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  z-index: 1;
  @media #{$tab} {
    padding: 10px 0px;
  }
  .main_menu {
    .menu_item {
      text-decoration: none;
      color: $white;
      font-size: 14px;
      font-weight: 600;
      display: inline-block;
      text-transform: capitalize;
      position: relative;
      padding: 28px 25px;
      @media #{$tab} {
        padding: 15px 20px;
      }
      @media #{$medium_device} {
        font-size: 15px;
      }
      @media #{$lg_device} {
        font-size: 15px;
      }
      i {
        font-size: 9px;
        @media #{$small_mobile} {
          display: none !important;
        }
        @media #{$medium_device} {
          display: none !important;
        }
      }
      &.active {
        color: $theme_color;
        &::before {
          opacity: 1;
          transform: scaleX(1);
        }
      }
      &:hover {
        color: $theme_color;
      }
    }
  }
}
