.project_widget {
  .thumb {
  }
  .project_content {
    h3 {
      font-size: 30px;
      font-weight: 500;
      color: $white;
      margin: 20px 0 5px 0;
      text-transform: capitalize;
    }
    p {
    }
  }
}
