.bio_about_area {
  background: $bark_bg_1;
  padding: 100px 0 40px;
  margin: 80px 50px 0 50px;
  @media #{$max_lg} {
    margin: 0;
    padding-top: 150px;
  }
  .resume_about {
    display: grid;
    grid-template-columns: 227px auto;
    grid-gap: 70px;
    align-items: center;
    @media #{$small_mobile} {
      display: block;
    }
    @media #{$large_mobile} {
      grid-template-columns: 227px auto;
      grid-gap: 30px;
      align-items: flex-start !important;
    }
    @media #{$medium_device} {
      align-items: flex-start !important;
      grid-gap: 30px;
    }
    .thumb {
      img {
        width: 100%;
      }
      @media #{$small_mobile} {
        margin-bottom: 30px;
      }
    }
    .about_content {
      h4 {
      }
      > p {
        font-size: 16px;
        line-height: 28px;
        color: #bebebe;
        font-weight: 400;
        margin-top: 15px;
        margin-bottom: 17px;
      }
      .about_info {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 5px;
        @media #{$small_mobile} {
          grid-template-columns: repeat(1, 1fr);
        }
        @media #{$large_mobile} {
          grid-template-columns: repeat(1, 1fr);
        }
        .single_info {
          display: grid;
          grid-template-columns: 80px auto;
          align-items: center;
          grid-gap: 15px;
          span {
            display: inline-block;
            font-size: 14px;
            font-weight: 500;
            color: $theme_color;
            white-space: nowrap;
          }
          p {
            display: inline-block;
            font-size: 14px;
            font-weight: 500;
            color: #d5d5d5;
            margin-bottom: 0;
            white-space: nowrap;
          }
        }
      }
    }
  }
}

.common_title {
  background: $bark_bg_2;
  display: block;
  padding: 18px 29px;
}
.round_dot {
  width: 7px;
  height: 7px;
  background: $theme_color;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 50%;
  top: 5px;
}

.round_dot2 {
  width: 9px;
  height: 9px;
  background: $theme_color;
  border-radius: 50%;
  &.opacity_20 {
    opacity: 0.2;
  }
}
.resume_main_wrap {
  .single_resume {
    .resume_content {
      position: relative;
      padding: 0 30px;
      span {
        font-size: 14px;
        font-weight: 400;
        color: #bebebe;
      }
      h5 {
        color: #ececec;
        font-weight: 500;
        margin-top: 10px;
        margin-bottom: 7px;
      }
      p {
        font-size: 14px;
        font-weight: 400;
        line-height: 28px;
        margin-top: 10px;
      }
    }
  }
}

.single_skill {
  h6 {
    font-size: 14px;
    font-weight: 500;
    color: $white;
    margin-bottom: 15px;
  }
}

.single_laguage {
  display: grid;
  grid-template-columns: 60px auto;
  grid-gap: 25px;
  align-items: center;
  margin-bottom: 27px;
  h6 {
    font-size: 14px;
    font-weight: 500;
    color: $white;
    margin: 0;
  }
  .lang_parcent {
    display: flex;
    div {
      margin-right: 6px;
    }
  }
}

.single_skill {
  .skill_bar_title {
    span {
      color: $white !important;
      display: inline-block;
      margin-bottom: 16px;
    }
  }
  .single_bar {
    .progress {
      width: 100%;
      height: 5px;
      background: #2e2e2e;
      position: relative;
      margin-bottom: 30px;
      border-radius: 5px;
      .progress-bar {
        background: $theme_color;
        border-radius: 30px;
      }
    }
  }
}

.barfiller {
  width: 100%;
  height: 5px;
  background: #2e2e2e;
  position: relative;
  margin-bottom: 30px;
  border-radius: 5px;
  .fill {
    display: block;
    position: relative;
    width: 0px;
    height: 100%;
    z-index: 1;
    border-radius: 30px;
  }
  .tipWrap {
    display: none;
  }
  .tip {
    margin-top: -34px;
    padding: 0;
    font-size: 14px;
    color: $white !important;
    left: 0px;
    font-weight: 400;
    position: absolute;
    z-index: 2;
    left: auto !important;
    right: 0 !important;
  }
}
