.service_container {
  margin: 80px 50px 0 50px;
  background: #0c0c0c;
  @media #{$max_lg} {
    margin: 0;
    padding-top: 50px;
  }
}
.service_area {
  background: $bark_bg_1;
  padding-top: 100px;
  .single_service {
    padding: 50px;
    border: 1px solid #2e2e2e;
    cursor: e-resize;
    .service_icon {
      width: 23px;
      img {
        width: 100%;
      }
    }
    h3 {
      font-size: 20px;
      font-weight: 500;
      color: $white;
      margin: 26px 0 15px 0;
    }
    p {
      font-size: 14px;
      font-weight: 400;
      color: #bebebe;
      line-height: 28px;
    }
  }
}

// prising_area
.prising_area {
  background: $bark_bg_1;
  .single_pricing {
    border: 1px solid #2e2e2e;
    padding: 40px 30px 40px 50px;
    margin-bottom: 30px;
    transition: 0.3s;
    .badge {
      display: inline-block;
      background: #2e2e2e;
      border-radius: 30px;
      color: #ffffff;
      font-size: 14px;
      font-weight: 500;
      text-transform: capitalize;
      padding: 6px 21px;
      margin-bottom: 15px;
    }
    h3 {
      font-size: 30px;
      color: #34d196;
      font-weight: 500;
    }
    .prise_list {
      margin-top: 28px;
      margin-bottom: 34px;
      li {
        font-size: 14px;
        color: #bebebe;
        line-height: 28px;
        &:not(:last-child) {
          margin-bottom: 4px;
        }
      }
    }
    &:hover {
      border-color: $theme_color;
    }
  }
}

// testmonial_area
.testmonial_area {
  background: $bark_bg_1;
  .owl-carousel .owl-nav div {
    top: auto;
    bottom: 11px;
  }
  .single_tesmonial {
    .quote_icon {
      width: 46px;
      img {
        width: 100%;
      }
    }
    .review_text {
      font-size: 18px;
      font-weight: 200;
      color: #ffffff;
      line-height: 36px;
      margin-top: 24px;
      margin-bottom: 52px;
    }
    .reviewer_info {
      .thumb {
        height: 30px;
        width: 30px;
        border-radius: 30px;
        margin-right: 10px;
        img {
          width: 100%;
        }
      }
      p {
        font-size: 14px;
        font-weight: 400;
        color: #bebebe;
        margin-bottom: 0;
        .reviewer_name {
          font-size: 14px;
          color: #bebebe;
          font-weight: 500;
          text-transform: capitalize;
        }
        .dots_icon {
          margin: 0 10px;
          display: inline-block;
        }
      }
    }
  }
}
