// fonts
$font1: "Montserrat", sans-serif;
// theme used color here

$heading_color_1: #0b0b21;

$theme_color: #34d196;
$bg_color_2: #707070;

$bark_bg_1: #0c0c0c;
$bark_bg_2: #1a1a1a;

// text color
$white: #ececec;
$text_color_1: #bebebe;
$text_color_3: #d5d5d5;

// responsive query
$small_mobile: "(max-width: 575.98px)";
$large_mobile: "(min-width: 576px) and (max-width: 767.98px)";
$medium_device: "(min-width: 768px) and (max-width: 991.98px) ";
$lg_device: "(min-width: 992px) and (max-width: 1199.98px)";
$xl_device: "(min-width: 1200px)";
$max_lg: "(max-width: 1199.98px)";
$tab: "(max-width: 767.98px)";
$tab2: "(max-width: 991.98px)";
